img {
    max-width: 100%;
}
img.workspace_image {
    height: 250px;
    object-fit: cover;
}
#m_aside_left #m_ver_menu .color-timesheet {
    color: #27ff09;
    font-weight: bold;
    font-size: 15px;
}
#m_aside_left #m_ver_menu .color-manager {
    color: white;
}
#m_header_nav .size-avatar {
    height: 41px;
    border-radius: 50%;
}
#m_header_nav .size-avatar-2 {
    height: 70px;
    border-radius: 50%;
}
.m-portlet .m-portlet__body .m-section__content .size-workspace {
    width: 150px;
}
